In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
df['Age'] = np.random.randint(5,30,size=1000)
df['Gender'] = np.random.choice(['Male','Female','Other'], len(df))
df['Test Result'] = np.random.choice(['Positive','Negative'], len(df))
df['Number of neighbors'] = np.random.choice([1,2,3,4,5,6], len(df))
df['Recovered'] = np.random.choice(['Yes','No'], len(df))

In [3]:
df.loc[df['Test Result'] == 'Negative', 'Recovered'] = 'N/A'
df.loc[df['Recovered'] == 'Yes', 'Recovery_Days'] = np.random.randint(5,30, len(df[df.Recovered == 'Yes']))
df.loc[df['Recovered'] == 'No', 'Died'] = np.random.choice(['Yes','No'], len(df[df.Recovered == 'No']))

In [4]:
df.head()

   Age  Gender Test Result  Number of neighbors Recovered  Recovery_Days Died
0   10    Male    Positive                    1        No            NaN   No
1   18  Female    Negative                    6       N/A            NaN  NaN
2   15    Male    Negative                    4       N/A            NaN  NaN
3   28    Male    Positive                    6        No            NaN  Yes
4    9   Other    Negative                    2       N/A            NaN  NaN

In [5]:
df.to_csv("infected_population.csv")